@import "src/utils/colors.scss";
@import "src/utils/constants.scss";

.userProfileImageContainer {
  width: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  align-items: flex-start;
  justify-content: flex-start;

  img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
  }

}

.userName {
  font-weight: 400;
  font-size: $titleFontSize;
  color: $textMuted;
  text-align: start;

}