$primary: #194dbb;
$secondary: #4379ee;
$bgColor: #fffafa;
$defaultBorderColor: rgb(0, 16, 48);
$textMuted: #56546a;
$likeColor:#f32684;
$commentColor: #1372b1;
$rePostColor:#148b64;
$shareColor:#0c68a5;