@import "src/utils/constants.scss";

.postContainer {
  width: 100%;
  min-height: 1.3rem;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: start;
  margin-bottom: 16px;
}

.postHeaderContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 64px auto;
  justify-content: start;
  align-items: center;
}

.postContentContainer {
  display: grid;
  grid-template-columns: 64px auto;

  .contentContainer {
    display: grid;
    grid-template-rows: auto auto;

    .titleContainer {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: start;
      align-items: center;

      .postTitle {
        font-size: $titleFontSize;
      }
    }

    .postContent{
      overflow-y: auto;
    }
  }
}
